<a href="https://colab.research.google.com/github/MaxVieiraSantiago/Python/blob/master/005_Introdu%C3%A7%C3%A3o_ao_Pandas_no_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas - A melhor biblioteca do Python para Dados**

In [1]:
# Importando o Pandas
import pandas as pd

**Criando um DataFrame a partir de um Dicionário**

In [2]:
# DataFrame = pd.DataFrame()

vendas = { 'data': [ '15/05/2023', '16/05/2023' ],
           'valor': [ 500, 300 ],
           'produto': [ 'feijão', 'arroz' ],
           'qtde': [ 50, 70 ]
         }

vendas_df = pd.DataFrame( vendas )

**Visualização dos Dados**

In [3]:
print( vendas_df )

         data  valor produto  qtde
0  15/05/2023    500  feijão    50
1  16/05/2023    300   arroz    70

In [4]:
display( vendas_df )

         data  valor produto  qtde
0  15/05/2023    500  feijão    50
1  16/05/2023    300   arroz    70

**Importando Arquivos e Bases de Dados**

In [5]:
from google.colab import drive
drive.mount( '/content/drive'  )

Mounted at /content/drive

In [6]:
vendas_df = pd.read_excel( 'Vendas.xlsx' )

In [7]:
display( vendas_df )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [16]:
vendas_df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [18]:
vendas_df.shape

(93910, 7)

In [19]:
vendas_df.describe()

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

**Pegar uma Única Coluna ( neste caso, uma única coluna é um  pd.Series )**

In [8]:
produtos = vendas_df['Produto']
display( produtos )

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

**Pegar mais de Uma Coluna ( aí é um DataFrame )**

In [9]:
colunas = vendas_df[ [ 'Produto', 'ID Loja' ] ]
display( colunas )

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### **.loc  -> um método muito importante**

- Pegar 1 linha.
- Pegar linhas de acordo com alguma condição.
- Pegar linhas e colunas específicas.
- Pegar 1 valor específico.

In [10]:
# Pegar uma linha
display( vendas_df.loc[ 1 ] )

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

In [11]:
display( vendas_df.loc[ 1: 5 ] )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [12]:
# Pegar linhas que correspondem a uma condição
display( vendas_df.loc[ vendas_df['ID Loja'] == 'Norte Shopping' ] )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [13]:
# Podemos armazenar
vendas_norteshopping_df = vendas_df.loc[ vendas_df['ID Loja'] == 'Norte Shopping' ]

display( vendas_norteshopping_df )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

In [14]:
# Pegar várias Linhas e Colunas 

# vendas_norte_shopping_df = vendas_df.loc[ linhas, colunas ]

vendas_norte_shopping_df = vendas_df.loc[ vendas_df['ID Loja'] == 'Norte Shopping' , [ 'ID Loja', 'Produto', 'Quantidade' ] ]

display( vendas_norte_shopping_df )

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [15]:
# Pegar um Item Específico
print( vendas_df.loc[ 1, 'Produto' ] )

Camiseta

**Adicionar Uma Coluna**

In [16]:
# A partir de uma coluna que já existe
vendas_df['Comissao'] = vendas_df['Valor Final'] * 0.05
display( vendas_df )

# Ciar uma Coluna com valor Padrão
# vendas_df.loc[ linhas, colunas ]
vendas_df.loc[ : , 'Imposto' ] = 0
display( vendas_df )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

**Adicionar Uma Linha**

- Linhas de um complemento da base de dados

In [17]:
vendas_dez_df = pd.read_excel( 'Vendas - Dez.xlsx')

vendas_df = vendas_df.append( vendas_dez_df )
vendas_df.tail()

<ipython-input-17-ac752010a62b>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df = vendas_df.append( vendas_dez_df )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [18]:
# Lembrando que as Colunas 'Comissao' e 'Imposto' foram adicionadas em vendas_df e NÃO em vendas_dez_df
vendas_df.loc[ :, 'Comissao' ] = vendas_df['Valor Final'] * 0.05
vendas_df.loc[ :, 'Imposto'  ] = 0

display( vendas_df )

<ipython-input-18-078806cb9af1>:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  vendas_df.loc[ :, 'Imposto'  ] = 0

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

**Excluir Linhas e Colunas**

In [19]:
# Excluir uma Coluna
vendas_df = vendas_df.drop( 'Imposto', axis=1 )

# Excluir Linha
# vendas_df = vendas_df.drop( 0, axis=0 )

display( vendas_df )

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

**Valores Vazios**

- Deletar Linhas/Colunas Vazias.
- Deletar Linhas que possuem valores vazios.
- Preencher valores vazios ( média e último valor ).

In [20]:
vendas_df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55

In [21]:
# Deletar linhas e colunas completamente vazias
vendas_df = vendas_df.dropna( how = 'all' )

In [22]:
# Coluna
vendas_df = vendas_df.dropna( how='all', axis = 1 )

In [23]:
# Deletar linhas que possuem pelo menos um valor vazio
vendas_df = vendas_df.dropna()

In [24]:
# Preencher valores vazios

# Preencher os valores VAZIOS com a média da coluna
vendas_df['Comissao'] = vendas_df['Comissao'].fillna( vendas_df['Comissao'].mean() )

In [25]:
# Preencher os valores VAZIOS com o último valor
vendas_df = vendas_df.ffill()

In [26]:
vendas_df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55

### **Calcular Indicadores**

- Groupby
- Values Counts

In [31]:
# value_counts
transacoes_por_loja = vendas_df['ID Loja'].value_counts()


# group by
faturamento_produto = vendas_df[ ['Produto', 'Valor Final'] ].groupby('Produto').sum()
display( faturamento_produto )

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

**Mesclar 2 DataFrames**

In [32]:
gerentes_df = pd.read_excel( 'Gerentes.xlsx')
gerentes_df.head()

                      ID Loja   Gerente
0          Iguatemi Esplanada  Salvador
1              Norte Shopping     Joana
2  Rio Mar Shopping Fortaleza     Maria
3              Shopping Barra   Letícia
4         Shopping Ibirapuera    Helena

In [33]:
# Como os dois arquivos possuem o campo ID Loja, o Python identifica automaticamente e faz o MERGE.
vendas_df = vendas_df.merge( gerentes_df )
vendas_df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,Salvador