<a href="https://colab.research.google.com/github/MaxVieiraSantiago/Python/blob/master/022_Utilizando_Map_no_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### map -> aplica uma função em cada item de uma lista de itens

##### Exemplo:

In [ ]:
precos = [1000, 1500, 1250, 2500]

def adicionar_imposto(preco):
    return preco * 1.1

[1000, 1500, 1250, 2500]
[1100.0, 1650.0000000000002, 1375.0, 2750.0]

##### Jeito manual: usando for

In [ ]:
precos_com_imposto = []
for preco in precos:
    precos_com_imposto.append(adicionar_imposto(preco))
print(precos_com_imposto)

[1100.0, 1650.0000000000002, 1375.0, 2750.0]

##### Usando o map:

In [ ]:
precos_com_imposto2 = list(map(adicionar_imposto, precos))
print(precos_com_imposto2)

[1100.0, 1650.0000000000002, 1375.0, 2750.0]

##### Aplicação:

Vamos calcular o preço com imposto em uma base de dados Python:

In [ ]:
import pandas as pd

tabela = pd.read_excel('Base Vendas.xlsx')
display(tabela)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,NaN
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100,NaN
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300,NaN
4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400,NaN
...,...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500,NaN
9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100,NaN
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN
9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300,NaN
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [ ]:
tabela['Preco com imposto'] = list(map(adicionar_imposto, tabela['Preco Unitario']))
display(tabela)

,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8,Preco com imposto
0,HL4379,Televisão,5,Gabriel,Thoni,6/30/2018,Curitiba,2500,NaN,2750.0
1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN,2750.0
2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100,NaN,2310.0
3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300,NaN,5830.0
4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400,NaN,3740.0
...,...,...,...,...,...,...,...,...,...,...
9994,HL4379,Televisão,2,Caio,Ferreira,5/18/2018,Fortaleza,2500,NaN,2750.0
9995,HL1148,Câmera,5,Kim,Ferreira,3/6/2018,Fortaleza,2100,NaN,2310.0
9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN,2750.0
9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300,NaN,5830.0
9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN,1540.0

In [ ]:
tabela.to_excel( 'Preco_Com_Imposto.xlsx' )